
<script type="text/javascript">
  $(function() {

	// VALIDATE message
	$('#message_reply_button').attr("disabled", "disabled");
	var validate = function() {
	  var isValid = false;
	  if ( $("#post_message_text").val()  ) {
		$('#message_reply_button').removeAttr("disabled");
		isValid = true;
	  } else {
		$("#new_topic_validation_note").text("Please fill in both a title and a message");
	  }
	  return isValid;

	};
	// check title
	$("#post_message_text").keydown(function(){
	  validate();
	});
	$("#post_message_text").blur(function(){
	  validate();
	});






  });
</script>

<% if logged_in? -%>
  <%  topic.posts.build %>
  <div class="row-fluid">
	<div class="span10 well">
	  <%= form_for [topic, topic.posts.build], :id=>"message_reply_form", :method=>"post", :url => { :action => "update"} do |f| %>
		<fieldset>
		  <legend>Post a response</legend>
		  <div class="control-group">
			<label class="control-label" for="post_message_text">Reply</label>
			<div class="controls" >
			  <%= f.text_area  :message_text, :rows => 10, :class=>"span10" %>
			</div>
		  </div>
		  <div class="form-actions">
			<%= f.hidden_field :thread_id %>
			<%= f.submit "Reply", :id=>"message_reply_button", :class=>"btn" %>
		  </div>
		</fieldset>
	  <% end %>
	</div>
  </div>
<% else%>
  <div id="forum-login">
	<b>Login to reply to this and other topics.</b>
  </div>
<% end -%>