<select name="board_id" id="board-select">
  <option value="0" disabled="disabled">Select message board</option>
  <option value="0" >Most Recent Posts</option>
  <% for bi in board_list%>
      <option value="<%=bi.board_id%>" <% if bi.board_id == board.board_id %> selected <% end %>><%=bi.title%></option>
  <% end %>
</select>
