
<%
   boardId = (board.nil?)? 0: board.board_id
%>

<select name="boardId" id="boardSelect">
  <option value="0" disabled="disabled">Select message board</option>
  <option value="0" >Most Recent Posts</option>
  <% counter=1
     for bi in boards %>
      <option value="<%=bi.board_id%>" <% if bi.board_id == boardId %> selected <% end %>><%=bi.title%></option>
  <% counter=counter+1
     end %>
</select>

