
<div id="StageNarrow">
    <div class="inside">
        <div class="hspacer"></div>

        <div class="Header">
            JazzHouston Forums
        </div>

        <div class="hspacer"></div>
	The jazzhouston forums are going on hiatus for a while. During this time we will revisist the rules and tools required to
	run a place prone to the types of hate and animosity seen here lately. Obviously the model in place now is insufficient. 
	It goes without saying (and here I am saying it anyway) that the net effect of this forum on the community at large is extremely negative. We simply can not tolerate it any longer.
        <div class="hspacer"></div>
	While I'm sure many of you will complain, I can only
	respond by saying try it yourself. Try running a place like this and see how fun it is. Sorry, but we all have better things to do.
        <div class="hspacer"></div>
	-- JazzHouston.com, January 28th 2009

    </div>
</div>
