<div id="StageNarrow">
  <div class="inside">
    ><a href="/home">Home</a>><a href="/forums">Forums</a>><%=@board.title%>

    <%= render :partial => "forum", :locals => { :ban_list => @ban_list,
                                                 :threads => @threads,
                                                 :boards => @boards,
                                                 :board => @board}
    %>
  </div>
</div>
