
<div id="StageNarrow">
    <div class="inside">

        <div class="hspacer"></div>


        <div class="HeaderTitle">University Programs</div>
            <a href="http://www.uh.edu/music">University of Houston, Moores School of Music</a>
            <br><i>alums include Terreon Gulley (drummer with Christian McBride and Stefon Harris) and Woody Witt (Apria Recording artist)</i>
            <br>
            Noe Marmolejo, Director of Jazz Studies


            <br>  <br>
            <a href="http://www.tsu.edu">Texas Southern University</a>
            <br><i>alums include Kirk Whalum and Ronnie Laws</i>
            <br> Howard Harris, Director of Jazz Studies
       <div class="hspacer"></div>
        <div class="HeaderTitle">Community College</div>
           <a href="http://www.hccs.edu">Houston Community College, Town & Country</a>

            <br><i>An all-star Houston Jazz Scene faculty have made this program one of the best
            deals around</i>
            <br> Dr. Aubrey Tucker, Director of Jazz Studies

            <br>  <br>
            <a href="http://www.sjcd.edu/program/programs_music_intro.html">San Jacinto Community College</a>

            <br><i>originally founded by Shelly Berg in the 80s, this program boasts
            one of the best community college bands around</i>
            <br>Carol Morgan, Director of Jazz Studies

            <br><br>
            <a href="">North Harris Community College</a>
            <br>Dr. Lex Valk, Director of Jazz Studies

            <br><br>
            <a href="http://clarion.brazosport.edu/ ">Brazosport College</a>
            <br><i>alums include  John Calderon, Jovol Bell and Stephen Forse </i>
            <br>Richard Birk, Director of Jazz Studies

            <br><br>
            <a href="http://www.com.edu/">College of The Mainland</a>
            <br>Sparky Koerner, Director of Jazz Studies

        <div class="hspacer"></div>
        <div class="HeaderTitle">High School Programs</div>

            <a href="http://www.hspva.org">High School for the Performing and Visual Arts</a>
            <br><i>alums include Everette Harp, Jason Moran, Robert Glasper, Eric Harland, Beyonce, Matt Johnson,
            Chris Dave, Walter Smith III, Sebastian Whittaker, Eddy Hobizal, Mark Kelly, Mike Severson,
            Mark Simmons, Chris Walker, Brandon Lee, Tim Ruiz, Kendrick Scott, Mike Moreno, Hermann Matthews</i>
            <br>Warren Sneed, director of Jazz Studies


        <div class="hspacer"></div>
        <div class="HeaderTitle">Summer Programs</div>

            <a href="http://www.jazzeducation.org/html/programs.html">Summer Jazz Workshop</a>
            <br>Now active on multiple campuses, this long-running summer program
            has been incredibly successful helping junior high school and high school students
            hone their jazz skills.
        
        <div class="hspacer"></div>
    </div>



</div>
</div>
