
<div id="StageNarrow">
  <div class="HeaderTitle">University Programs</div>

  <div class="inside">

	<a class="boldLink" href="http://www.tsu.edu">Texas Southern University</a>
	<br><i>alums include Joe Sample, Hubert Laws, "Stix" Hooper, Wayne Henderson, Wilton Felder, Dr.John Bradley, Ted Dunbar, Sylvester LeBlanc, Carl Lott, Jr., Woodrow "Woody" Murray, William Jeffrey, Bobbi Humphrey, Barrie Lee Hall, Quinton "Rocky" White, Anita Moore, Marsha Frazier, James Bolden, Doug Harris,  Sais Kamalidin (AKA Virgil Soloman), Horace Alexander Young, Kirk Whalum, Frank Lacy, Don Diego, Al Campbell, John Gordon, Paul Carr, Michael Lewis and Kyle Turner.
  </i><br/><br/>
	Howard C. Harris, Jr.- Director of Jazz Studies (Emeritus).
	<br/><br/>
	Horace Alexander Young- Interim Director of Jazz Studies
	<br>  <br>
	<a class="boldLink" href="http://www.uh.edu/music">University of Houston, Moores School of Music</a>
	<br><i>alums include Terreon Gulley (drummer with Christian McBride and Stefon Harris) and Woody Witt (Apria Recording artist)</i>
	<br/><br/>
	Noe Marmolejo, Director of Jazz Studies
	<div class="hspacer"></div>
  </div>
  <div class="HeaderTitle">Community College</div>

  <div class="inside">


	<a class="boldLink" href="http://clarion.brazosport.edu/ ">Brazosport College</a>
	<br><i>alums include  John Calderon, Jovol Bell and Stephen Forse </i>
	<br>Richard Birk, Director of Jazz Studies

	<br><br>
	<a class="boldLink" href="http://www.com.edu/">College of The Mainland</a>
	<br>Sparky Koerner, Director of Jazz Studies


	<br><br>

	<a class="boldLink" href="http://www.hccs.edu">Houston Community College, Town & Country</a>

	<br><i>An all-star Houston Jazz Scene faculty have made this program one of the best
	deals around</i>

	<br>  <br>

	<a class="boldLink" href="">North Harris Community College</a>
	<br>Dr. Lex Valk, Director of Jazz Studies

	<br><br>


	<a class="boldLink" href="http://www.sjcd.edu/program/programs_music_intro.html">San Jacinto Community College</a>

	<br><i>originally founded by Shelly Berg in the 80s, this program boasts
	one of the best community college bands around</i>



	<div class="hspacer"></div>
  </div>
  <div class="HeaderTitle">High School Programs</div>

  <div class="inside">
	<a class="boldLink" href="http://www.hspva.org">High School for the Performing and Visual Arts</a>
	<br><i>alums include Everette Harp, Jason Moran, Robert Glasper, Eric Harland, Beyonce, Matt Johnson,
	Chris Dave, Walter Smith III, Sebastian Whittaker, Eddy Hobizal, Mark Kelly, Mike Severson,
	Mark Simmons, Chris Walker, Brandon Lee, Tim Ruiz, Kendrick Scott, Mike Moreno, Hermann Matthews</i>
	<br>Warren Sneed, director of Jazz Studies


	<div class="hspacer"></div>
  </div>
  <div class="HeaderTitle">Summer Programs</div>

  <div class="inside">



	<a class="boldLink" href="http://http://www.diazmusicinstitute.org/">The Diaz Music Institute</a>
	<br/>Diaz Music Institute (DMI) is Houston's premiere nonprofit fine arts institution committed to the education, preservation, performance and perpetuation of Latin music. With a rich mosaic of rhythm, dance and literature, DMI captivates students and audiences. The vehicle which DMI's mission is fulfilled is "Caliente," the nationally acclaimed repertoire ensemble of the Institute. DMI captures the essence of Latin music.

	<br>  <br>
	<a class="boldLink" href="http://www.jazzeducation.org/html/programs.html">Summer Jazz Workshop</a>
		<br>Now active on multiple campuses, this long-running summer program
		has been incredibly successful helping junior high school and high school students
		hone their jazz skills.


	<div class="hspacer"></div>


  </div>
</div>
