<link rel="stylesheet" href="/common/js/jquery/css/jquery-ui.css" type="text/css" media="all" />
<script src="/common/js/libs/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
    /**
     * On-Ready jQuery block
     */
    $(function() {

        // artist search
        $( "#jh_musician_search" ).autocomplete({
            source: function(request, response) {
                $.ajax({
                    url:"/members/search",
                    dataType: "json",
                    data: {
                        query: request.term,
                        maxRows: 15
                    },
                    success: function(data) {
                        response($.map(data.results, function(item) {
                            return {
                                label: item.first_name +' '+ item.last_name,
                                value: item.user_id
                            }
                        }))
                    }
                })
            },
            dataType: 'json',
            minLength: 4,
            select: function( event, ui ) {
                event.preventDefault();
                window.location = '/members/profile/' + ui.item.value;
            }
        });


    });

</script>
<div id="StageNarrow">
  <ul class="breadcrumbs">
    <li>
      <a href="/musicians">Musician Roll-a-dex</a>
    </li>
    <li>Search by Name or by Instrument</li>
  </ul>

  <div class="cd-inside">
     <input type="text" size="35" placeholder="Search Players" name="jh_musician_search" id="jh_musician_search" />
    <table cellspacing="20" align="center" width="100%">
      <tr>
        <%
           counter=0
           for item in @instruments%>
            <% if counter%5==0 && counter>0 %>
                </tr><tr>
            <% end %>
            <td width="20%" valign="top" >
              <a href="/musicians/byinst/<%=item.instrument_name%>"><%= item.instrument_name.titleize %></a>

            </td>
        <% counter=counter+1
           end %>
        </table>
    <div class="hspacer"></div>
    <div class="Header">Notable Jazz Players in Houston</div>
    <div class="hspacer"></div>

    <%= render :partial => "/common/about"%>


  </div>
</div>

