<%= render :partial => "common/extjs" %>
<div id="StageNarrow">

  <div class="cd-inside">

    <input type="text" size="20" name="jh_musician_search" id="jh_musician_search" />


    <div class="hspacer"></div>
    <div class='Header'>Players By Instrument</div>

    <table cellspacing="20" align="center" width="100%">
         <tr>
        <%
           counter=0
           for item in @instruments%>
            <% if counter%5==0 %>
              </tr><tr>
            <% end %>
               <td width="20%" valign="top" >
            <a href="/musicians/byinst/<%=item.instrument_name%>"><%= item.instrument_name %></a>

             </td>
        <% counter=counter+1
           end %>
       </table>
    <div class="hspacer"></div>
    <div class="Header">Houston Jazz Wall of Fame</div>
    <div class="hspacer"></div>
    <div id="jh_about">
      Houston's rich jazz history has produced an impressive roster of world-renowned musicians. While jazz remains a largely
      unnoticed artform in this part of the world, it's soulful, southern heritage has produced a powerful, identifiable sound.
      Here are some of the better known players who hail from this Third Coast mecca:
      <div class="hspacer"></div>
      Among the better known names hailing from this Gulf Coast metropolis are The Crusaders, Hubert & Ronnie Laws, Kirk Whalum, Everette Harp, Jason Moran, Robert Glasper, Eric Harland, Mike Moreno, Chris Dave, Helen Sung, Kendrick Scott, Shelly Berg, G.T. Hogan, Don Wilkerson, Arnett Cobb, Jimmy Ford, Herman Matthews, Barrie Lee Hall, Jr. (longtime Duke Ellington member), Frank Lacy, and Eddie "Cleanhead" Vinson. Resident luminaries include (but are not limited to) Joe Sample, Bobby Lyle, Mark Simmons (Al Jarreau, George Duke), Andre Hayward (Monk Competition winner), Chris Walker, Marsha Frazier, Paul English, David Caceres, Sebastian Whittaker, Larry Slezak, Kyle Turner, Dennis Dotson, Joe Locascio, Woody Witt, and Pamela York (Great American Piano Competition winner).
    </div>



  </div>
</div>
<script type="text/javascript">

    Ext.onReady(function(){

        var liveSearchDataStore = new Ext.data.Store({
            proxy: new Ext.data.HttpProxy({
                url: '/musicians/search_ext',
                method: 'GET'
            }),
            reader: new Ext.data.JsonReader({
                totalProperty: 'items',
                root: 'results',
                id: 'username'
            }, [{name:'user_id'},
                {name: 'first_name'},
                {name: 'last_name'},
                {name: 'username'}
            ])
        });

        var liveSearchResultTemplate = new Ext.XTemplate(
                '<tpl for="."><div class="jh_search_item">',
                '<a href="/musicians/profile/{username}">{last_name}, {first_name}</a> ({username})',
                '</div></tpl>'
        );

        var liveSearchControl = new Ext.form.ComboBox({
            store: liveSearchDataStore,
            displayField:'username',
            typeAhead: false,
            loadingText: 'Searching...',
            width: 400,
            emptyText: 'Type in a name and hit enter...',
            hideTrigger:true,
            hideOnClick:true,
            minChars: 2,
            itemSelector: 'div.jh_search_item',
            applyTo: 'jh_musician_search',
            tpl: liveSearchResultTemplate,
            onSelect: function(record){ // override default onSelect to do redirect
                window.location = String.format('http://www.jazzhouston.com/members/profile/{0}', record.data.user_id);
            }

        });

        //liveSearchControl.render('jh_musician_search');
    });
</script>


