<div id="StageNarrow">
    <div class="inside">

        ><a href="/">Home</a>>Review

        <div class="hspacer"></div>
        <div class="Header">
            CD Reviews
        </div>
        <div class="hspacer"></div>
        <% for item in @articles %>
            <% if item.image_url != ""  %>
                <img src="<%=item.image_url%>" align="left" width="125">
            <% end %>
            <%= link_to item.title, {:action => "review", :id=>item.content_id} %><br/>
            <%= item.display_date %> --   <%= item.teaser %>
            <div class="hspacer"></div>
        <% end %>
    </div>
</div>