<div id="StageNarrow">
    <div class="inside">
        <div class="HeaderTitle">
           Jazzhouston Article Feature
        </div>

          <div class="flash-alert">
            <%= flash[:notice] %>
        </div>

        <b>Featured Article is now:</b> <a href="/articles/words/<%=@fwords.content_id%>"><%=@fwords.title%></a>

    </div>
</div>