<b>Confirm your registration at Jazzhouston </b>
<br/><br/>

Click the following link to confirm your registration:
<br/>

http://www.jazzhouston.com/members/confirm/<%=@username%>/<%=@key%>
<br/><br/>
<a href="http://www.jazzhouston.com/members/confirm/<%=@username%>/<%=@key%>">Confirm Email Link</a>