<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h2>Jazzhouston Feedback</h2>
From: <%=@from_name%><br/>
Email: <%=@from_addr%><br/>
<br/><br/>
Message:
<p>
  <%= raw @message %>
</p>
</body>
</html>
