<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<h2>Jazzhouston Feedback</h2>
From: <% raw @sender_name %><br/>
Email: <% raw @sender_email %><br/>
<br/><br/>
Message:
<p>
  <%= raw @message %>
</p>
</body>
</html>
