<div data-role="content">

  <h3>Playing Today</h3>
  <ul data-role="listview" data-inset="true">
	<% for item in shows_on_date %>
	  <li><%= link_to item.performer, {:action => "details", :controller=>"events", :id=>item.event_id} %></li>
	<% end %>
  </ul>

  <h3>News</h3>
  <ul data-role="listview" data-inset="true">
	<% for item in articles
		 current_id= (item.sub_title && item.sub_title.length>0)? item.sub_title : item.content_id
	%>
	  <li class="newslist-feature">
		<% if item.photo.exists? then %>
		  <%= image_tag item.photo.url(:thumb), :align=>"left", :width=>'35', :height=>'35', :hspace=>'2' %>
		<% end %>
		<%= link_to item.title, {:action => "words", :controller=>"articles",  :id=>current_id}, 'data-transition'=>"flip" %>
	  </li>
	<% end %>
  </ul>
  <h3>About</h3>
  <%= render :partial => "/common/about"%>

</div>











	
