<script src="/common/js/libs/moment.min.js" type="text/javascript"></script>
<script type="text/javascript">
    /**
     * On-Ready jQuery block
     */
    $(function() {
        // calendar

	  $( "#datepicker" ).datepicker({
	  	  dateFormat: 'yy-mm-dd',
	  	  onSelect : function(date){
	  		var dateArray = date.split("-");
	  		var dateString = dateArray[0]+'/'+dateArray[1]+'/'+dateArray[2];
	  		var dateObj = new Date(dateArray[0], dateArray[1] - 1 , dateArray[2]);
			var dateFormatString =  moment(dateObj).format("dddd, MMMM D");
	  		var eventURL = '/events/'+dateString+'.json';
	  		$("#show_listing_header").html("Playing " + dateFormatString);
	  		$("#show_listing").html("Loading...");
	  		$.getJSON( eventURL).done(function( data ) {
	  		  $("#show_listing").html("");
	  		  $.each( data, function( i, item ) {
	  			var show = item.event;
	  			var snippet =  $( "#show_listing_tmpl" ).render( show );
	  			 $( "#show_listing" ).append(snippet);
	  		  });
	  		});
	  	  }
	  	}).hide();

        // venue search
        $( "#event_venue_search" ).autocomplete({
            selectFirst: false,
            source: function(request, response) {
                $.ajax({
                    url:"/venues/search_ext",
                    dataType: "json",
                    data: {
                        query: request.term,
                        maxRows: 15
                    },
                    success: function(data) {
                        response($.map(data.results, function(item) {
                            return {
                                label: item.title,
                                value: item.venue_id
                            }
                        }))
                    }
                })
            },
            dataType: 'json',
            minLength: 3,
            select: function( event, ui ) {
                event.preventDefault();
                window.location = '/venues/about/' + ui.item.value;
            }
        });
    });

</script>
<div id="SearchBar">
  <div class="ItemHSpacer">
    <input id="event_venue_search" size="15" placeholder="Search Venues"/>
  </div>
  <div class="ItemHSpacer">
    <ul>
      <li><a href="/events">today</a></li>
      <li><a href="/events/shows">all shows</a></li>
    </ul>
  </div>
</div>

