<link rel="stylesheet" href="/common/js/jquery/css/jquery-ui.css" type="text/css" media="all" />
<script src="/common/js/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
    /**
     * On-Ready jQuery block
     */
    $(function() {
        // calendar

        $( "#datepicker" ).datepicker({
            dateFormat: 'yy-mm-dd',
            onSelect : function(date){
                var dateArray = date.split("-");
                window.location = '/events/'+dateArray[0]+'/'+dateArray[1]+'/'+dateArray[2];

            }
        }).hide();

        $("#datelink").click(function() {
            $("#datepicker").show();
        });

        // venue search
        $( "#event_venue_search" ).autocomplete({
            selectFirst: false,
            source: function(request, response) {
                $.ajax({
                    url:"/venues/search_ext",
                    dataType: "json",
                    data: {
                        query: request.term,
                        maxRows: 15
                    },
                    success: function(data) {
                        response($.map(data.results, function(item) {
                            return {
                                label: item.title,
                                value: item.venue_id
                            }
                        }))
                    }
                })
            },
            dataType: 'json',
            minLength: 3,
            select: function( event, ui ) {
                event.preventDefault();
                window.location = '/venues/about/' + ui.item.value;
            }
        });
    });

</script>

<div id="SearchBar">
  <div class="ItemHSpacer">
    <input id="event_venue_search" size="15" placeholder="Search Venues"/>
  </div>
  <div class="ItemHSpacer">
    <ul >
      <li><a href="/events">today</a></li>
      <li><a href="/events/shows">all shows</a></li>
      <li><span id="datelink">select date</span></li>
    </ul>
  </div>
</div>

<div id="datepicker"></div>

