<form action="#" method="get" style="visibility: hidden">
            <input type="hidden" name="date" id="f_date_e" />
      </form>

        <br/>
     <div class="title" id="show_e" >
         To view another day click on this calendar
            <img src="/common/jscalendar/img.gif" id="f_trigger_e"
               style=" cursor: pointer; border: 1px solid blue;"
               title="Date selector" onmouseover="this.style.background='blue';"
               onmouseout="this.style.background=''" />
      </div>

<style type="text/css">@import url('/common/jscalendar/calendar-green.css');</style>
<script type="text/javascript" src="/common/jscalendar/calendar.js"></script>
<script type="text/javascript" src="/common/jscalendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="/common/jscalendar/calendar-setup.js"></script>
<script type="text/javascript">

    Calendar.setup({
        inputField     :    "f_date_e",     // id of the input field
        ifFormat       :    "%Y/%d/%m",     // format of the input field (even if hidden, this format will be honored)
        displayArea    :    "show_e",       // ID of the span where the date is to be shown
        daFormat       :    "%A, %B %d, %Y",// format of the displayed date
        button         :    "f_trigger_e",  // trigger button (well, IMG in our case)
        align          :    "Tl",           // alignment (defaults to "Bl")
        onSelect : dateChanged,           // our callback function
        weekNumbers: false,
        date:   "<%=  @curTime.strftime("%Y/%m/%d") %>"
    });
    var myDate=new Date();

    myDate.setFullYear(<%=@curTime.strftime("%Y")%> ,<%=@curTime.strftime("%m")%>,<%=@curTime.strftime("%d")%>);

    function dateChanged(calendar)
    {
        // Beware that this function is called even if the end-user only
        // changed the month/year.  In order to determine if a date was
        // clicked you can use the dateClicked property of the calendar:
        if (calendar.dateClicked) {
            // OK, a date was clicked, redirect to /yyyy/mm/dd/index.php
            var y = calendar.date.getFullYear();
            var m = calendar.date.getMonth()+1;     // integer, 0..11
            var d = calendar.date.getDate();      // integer, 1..31

            if (d<10)
                d='0'+d;
            if (m<10)
                m='0'+m;
               // redirect...
            window.location = "/events/" + y+"/"+m+"/"+d;
        }
    };

</script>
