

<!-- AJAX Javascript for Rotating Content -->
<script type="text/javascript" src="/common/js/jazzhouston.util.js"></script>
<script type="text/javascript" src="/common/js/jazzhouston.events.js"></script>

<script type="text/javascript">

    // Panels for the events page
    Ext.onReady(function(){

        jh.events.dateToolbar("jh_toolbar");
    });


</script>
<div id="StageNarrow">
  <div class="Header">Upcoming Shows </div>

  <div class="cd-inside">

    <div id="jh_toolbar"></div>

    <div class="hspacer"></div>
    <% if @shows.length==0 %>
        <p class="smallText">None scheduled (or at least, we're way behind on keeping the listings current)

    <% end %>
    <table width="100%" class="index-two-column">
      <% for item in @shows %>
          <tr>
            <td width="10%"><%=item.show_date.to_datetime.strftime("%b %d")%></td>
            <td width='36%'>
              <% if item.venue %>
            <span class="smallText">
                @<%= link_to item.venue.title, {:action => "about", :controller=>"venues", :id=>item.venue.venue_id}, :class=>"venueLink" %>
            </span>
              <% end %>
            </td>
            <td widdth="54%"><%= link_to item.performer, {:action => "details", :controller=>"events", :id=>item.event_id} %></td>

          </tr>
      <% end %>
    </table>
    <div class="hspacer"></div>
    Check back for more shows. We post 'em as we get 'em!
     <br/>
    Subscribe to our RSS feed:
  <a href="http://jazzhouston.com/events/rss"><img width="20" align="top" src="/images/icon_hopout_rss.png" border="0"></a>
  <br/>
   Follow us on Twitter:<a href="http://twitter.com/#!/jazzhouston"><img width="20" align="top" src="/images/icon_hopout_twitter.png" border="0"></a>



  </div>
</div>
