
  <div id="StageMedium">
    <ul class="breadcrumbs">
      <li>
        <a href="/events">Events</a>
      </li>
      <li>
        All Shows
      </li>
    </ul>

  <%= render :partial => "/events/calendar"%>

  <div class="cd-inside">
    <div class="hspacer"></div>
    <% if @shows.length==0 %>
        <p class="smallText">None scheduled (or at least, we're way behind on keeping the listings current #EditorFail)
    <% end %>
    <div id="showgrid">
      <% last_date = ""
		 for item in @shows
		 	if item.show_date != last_date

	  %>
		  <h3><%=  item.show_date.strftime("%A, %B #{item.show_date.day.ordinalize}") %> </h3>
		   <% end %>

          <%= link_to item.performer, {:action => "details", :controller=>"events", :id=>item.event_id} %>
          <% if item.venue %>
              @<%= link_to item.venue.title, {:action => "about", :controller=>"venues", :id=>item.venue.venue_id}, :class=>"venueLink" %>
          <% end %>

          <div class="hspacer"></div>
      <%
		 last_date = item.show_date
		 end %>
      <div class="hspacer"></div>
      Check back for more shows. We post 'em as we get 'em!
      <br/>
      Subscribe to our RSS feed:
      <a href="http://jazzhouston.com/events/rss"><img width="20" align="top" src="/images/icon_hopout_rss.png" border="0"></a>
      <br/>
      Follow us on Twitter:<a href="http://twitter.com/#!/jazzhouston"><img width="20" align="top" src="/images/icon_hopout_twitter.png" border="0"></a>
      <div class="hspacer"></div>
    </div>



  </div>
</div>
