

<!-- AJAX Javascript for Rotating Content -->
<script type="text/javascript" src="/common/js/jazzhouston.util.js"></script>
<script type="text/javascript" src="/common/js/jazzhouston.events.js"></script>

<script type="text/javascript">

    // Panels for the events page
    Ext.onReady(function(){
       
        jh.events.dateToolbar("jh_toolbar");
    });


</script>
<div id="StageNarrow">
    <div class="inside">


        
        ><a href="/home">Home</a>
        ><a href="/events/">Events</a>
        ><b>Upcoming Shows</b>
        <div id="jh_toolbar"></div>


        <div class="hspacer"></div>
        <div class="Header">Upcoming Shows </div>
        <div class="hspacer"></div>
        <% if @shows.length==0 %>
            <p class="smallText">None scheduled (or at least, we're way behind on keeping the listings current)

        <% end %>
        <% for item in @shows %>
             <%=item.show_date.to_datetime.strftime("%a %b %d")%>:
            <%= link_to item.performer, {:action => "details", :controller=>"events", :id=>item.event_id} %>
            <% if item.venue %>
            <span class="smallText">
                <%= link_to item.venue.title, {:action => "about", :controller=>"venues", :id=>item.venue.venue_id} %>
            </span>
            <% end %>
          
            <div class="hspacer"></div>
        <% end %>

        <div class="hspacer"></div>




    </div>
</div>
