/**
*
* Master CSS for JazzHouston
*
* Andrew Lienhard, 2008-2012
**/



/** General Overrides **/
* html, tr, td, h1, h2, h3, div
{

}



body
{
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;/**"frutiger lt std","frutiger std",frutiger,arial,helvetica,sans-serif;**/
  font-size : 1em;
  text-align: left;
  overflow-x:hidden;
  width:100%;
}

a {
  text-decoration: none;
}


img {
  max-width: 250px;
  border: 0;
}


.hspacer
{
  clear:both;
  padding-top:15px;
  vertical-align: top;
}


#jh_editor {
  color: red;
  padding: 0 0 0 5px ;
  font-size: 9px;
  text-align: left;
}
#jh_pic_column {
  float:left;
  width: 105px;
}
#jh_infocol {
  float:left;
  padding: 3px 0 0 10px ;
  overflow-x: auto;
  width:70%;
  font-size:10px;
}

#jh_detailcol {
  float:left;
  padding: 0;
  overflow-y:auto;
  width:100%;
}


#jh_profile {
  float:left;
  overflow-y:auto;
  width:95%;
  padding: 10px 0 0 10px ;
}

#jh_interests {
  float:left;
  padding:10px 0 0 10px;
  width:95%;

}
#jh_contact_info {
  float:left;
  padding-top:10px;
}
#jh_blogs {
  float:left;
  overflow: auto;
  padding-top:10px;
  height: 650px;
}
#jh_shows {
  float:left;
  overflow: auto;
  padding-top:10px;
  height: 650px;
}
#jh_profile h2, #jh_interests h2, #jh_shows h2, #jh_blogs h2 {
  font-family: tahoma, sans-serif;
  padding: 5px 0;
  background-color: #EEE;
  color: #2a2a2a;
  border: none;
  font-size: 14px;
  font-weight: bold;
  width:100%;
}



.flash-alert {
  font-size: 14px;
  color: red;
  background-color: white;
  padding: 10px;
  text-align: left;
}


/**
* FORUM CSS
**/
.forumPic {
  padding: 0;
}



a.blueLink, a.blueLink:visited, a.blueLink:hover {
  color: #2A89C5;
  font-size: 13px;
}



.messageList {

}

.messageList ul, .messageList li {
  list-style-type: none;
  height: auto !important;
  margin: 0;
  padding: 5px 0;
}

.messageList li {
  position: relative;
  padding: 0;
  display: list-item;
  overflow: hidden;
  text-overflow: ellipsis;

}

.messageList li ul {
  display: none;
  background: #fff;
}




li.blockedMessage  {
  border-top: 1px solid #E0E0E0;
  position: relative;
  padding: 8px 0 10px 150px;
  display: list-item;
  background: #F6F6F6 none repeat scroll 0 0;
  color: #777777;
  min-height: 16px;
  height: 16px;
  height: auto !important;

}


li.blockedMessage .messageBody .messageAuthor  {
  display:none;

}


.post-info-row {
  background-color:#2A89C5;
}

li.post-ban-row  {
  background-color:#E0E0E0;
  color: #777777;
  min-height: 16px;
  height: 16px;
  height: auto !important;
  padding: 4px 0 4px 150px;
  background: #F6F6F6 none repeat scroll 0 0;
  display: list-item;
}

.messageInfo {
  background-color:white;
  border: 1px solid;
  margin: 5px 0;
}

.messageBlock {

}
.messageAuthor {
  padding-top: 5px;
  padding-left: 5px;
  font-size: 10px;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
} * html .messageAuthor { overflow: visible; }


.messageAuthor a , .messageAuthor a:visited, .messageAuthor a:hover {
  border:none;
  color: black;
  line-height: 14px;
  font-size: 13px;
  font-weight: bold;
  padding: 2px 0 0 0;
}

.authorMeta {
  clear:both;
  padding: 0 0 0 1px;
}


a.messageImg, a.messageImg:hover, a.messageImg:visited {
  border: 0 none;
  text-decoration: none;

}

div.messageDate {
  font-size: 10px;
  border:none;
  line-height: 14px;
}

.messageBody {
  display: block;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 4px;
  min-height: 125px;
  height: auto !important;
  height: 125px;
  font-size:1em;
  line-height: 22px;
  word-wrap:break-word;
  color:#000000;
}


.messageBody a, .messageBody a:visited {
  color: #2A89C5;
   -ms-word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.messageRating {
  float: right;
  width: auto;
  text-align: right;
  padding: 2px 0 2px 8px;
}


.messageRatingBlock {
  float: right;
  background: #F6F6F6 none repeat scroll 0 0;
  color: #777777;
  width: auto;
  text-align: right;
  padding: 2px 0 2px 8px;
}

.messageRating img {
  border: none;
  text-decoration: none;
}


.forumThreadBox {
  clear: both;
  background: #fff;
  color: #474A51;
  font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
  height:85px;
  border: 1px solid #eee;
  width:100%;
}

.forumAvatarBox {
  float:left;
  width:85px;
  overflow-x: hidden;
}

.forumMetaInfo {
  float:left;
  font-size: 10px;
  overflow-x: hidden;
  width:105px;
}

.forumListPic {
  padding: 1px 5px 1px 0;
  float:left;
}


.forumAuthor {
  padding: 2px 0 0 5px;
  font-size: 12px;
  float: left;
}
.forumAuthor a, .forumAuthor a:visited {
  font-size: 12px;
  padding-right: 0;
}

.forumPostTime {
  padding: 2px 0 0 5px;
  font-size: 11px;
  float: left;
}

.forumTitle {
  padding: 10px 0 0 5px;
  font-size: 12px;
  float: left;
}

.forumTitle a, .forumTitle a:visited {
  font-size: 12px;
  padding-right: 0;
}


.bigForumLink   {
  text-align: left;
  vertical-align: text-top;
  font-size:12px;
  color:#2a2a2a;
  text-decoration:none;
  padding: 10px 0 0 4px;
  width:auto;
  overflow-x: hidden;
}


.bigForumLink a, bigForumLink a:visited {
  text-align: left;
  font-size:12px;
  font-weight: normal;
  color:#2a2a2a;
  text-decoration:none;
}

.bigForumLink a:hover {
  text-align: left;
  font-size:12px;
  font-weight: normal;
  color:#2A89C5;
}
.smallForumLink   {
  text-align: left;
  float:left;
  font-size:0.8em;
  color:#333;
  text-decoration:none;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  padding: 5px 0 0 0 ;
}

a.smallForumLink, a.smallForumLink:visited {
  text-align: left;
  font-weight: normal;
  color:#333;
  text-decoration:none;
  border:none;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:1.0em;
}

a.smallForumLink:hover  {
  text-align: left;
  font-weight: normal;
  color:#3B5998;
  text-decoration:none;
  border:none;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:10px;
}

.forumNewTopicLink  {
  clear:both;
  padding: 4px 0;
}


.forumNewTopicLink a, .forumNewTopicLink a:visited {
  color:red;
  font-size:14px;
}


select#board-select {
  width: 200px;
  height: 27px;
  margin-bottom: 0;
}

.board-pager {
  padding: 0;
  text-decoration: none;
  float: left;
  padding-left: 8px;
  font-size: 0.9em;
}

.board-pager a, .board-pager a:visited{
  text-decoration: none;
  color:#333;
  padding-left: 2px;
}


.board-pager ul li {
  float: left;
  background-color: #fff;
}

a.newTopic, a.newTopic:visited {
  color: red;
}

.newTopic a:hover {
  color: #2A89C5;
}

.forum_row_li {
  border-top: 1px solid #333;
}

.pagination {
  margin: 5px 0;
}

.pagination ul {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a, .pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color:
	#fff;
  border: 1px solid
  #ddd;
  border-left-width: 0;
}


#message_well {
  font-size: 0.8em;
  font-family: "museo-sans", sans-serif;
  font-style: italic;
  text-align: center;
  padding: 5px;
}

.forum_row_li {
  padding: 0!important;
}

.player-data {
  height: 78px;
}

#toggle {
  padding: 5px 20px;
  display: block;
  text-align: center;
  box-shadow: inset 0px -45px 30px -40px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 1.3em;
  font-family: "museo-sans", sans-serif;
  border: 1px solid #ddd;
  font-weight: bold;
}


.error {
	color: red;
	vertical-align: top;
	font-weight:bold
}



.vertical-listing {
  display:block;
  font-size: 13px;
  letter-spacing: 0.1em;
  padding: 15px 0;
  clear:both;
}



/* ============================================================================================================================
== BUBBLE WITH AN ISOCELES TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-isosceles {
  position:relative;
  padding:15px;
  margin:1em 0 1em;
  color:#000;
  background:#eee; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#fff));
  background:-moz-linear-gradient(#eee, #eee);
  background:-o-linear-gradient(#eee, #eee);
  background:linear-gradient(#eee, #eee);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-isosceles.top {
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ccc));
  background:-moz-linear-gradient(#eee, #eee);
  background:-o-linear-gradient(#eee, #eee);
  background:linear-gradient(#eee, #eee);
}

/* Variant : for left/right positioned triangle
------------------------------------------ */

.triangle-isosceles.left {
  margin-left:30px;
  background:#eee;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-isosceles.right {
  margin-right:30px;
  background:#eee;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

/* creates triangle */
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#eee transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-isosceles.top:after {
  top:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  bottom:auto;
  left:auto;
  border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
  border-color:#eee transparent;
}

/* Variant : left
------------------------------------------ */

.triangle-isosceles.left:after {
  top:16px; /* controls vertical position */
  left:-50px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:10px 50px 10px 0;
  border-color:transparent #eee;
}

/* Variant : right
------------------------------------------ */

.triangle-isosceles.right:after {
  top:16px; /* controls vertical position */
  right:-50px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  left:auto;
  border-width:10px 0 10px 50px;
  border-color:transparent #eee;
}

.voting-control {
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  opacity: .7;
  filter: alpha(opacity=70);
}

.icon-arrow-up:before {
  content: "\25b3";
}
.icon-arrow-down:before {
  content: "\25bd";
}

[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: embed-icons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.voting-block {
  padding: 0 0 15px 0;
}

.message-timestamp {
  font-size: 0.9em;
  color: #777;
}

.ratingValue  {
  background-color: red;
  color:#ffffff;
  font-size: 1.0em;
  width: 16px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  text-align: center;
  margin: 0 5px 0 2px;
}


