<div id="StageNarrow">
  <div class="Header">
    About JazzHouston
  </div>
  <div class="cd-inside">
    <div class="hspacer"></div>
	<a href="http://fauxmat.wordpress.com/2013/08/27/jh-a-website/">A History of JazzHouston, in pictures</a>
	<div class="hspacer"></div>
    Jazzhouston.com was created in 1995 by Andrew Lienhard as part of his personal web site.
    The domain name was registered the following year in cooperation with the Milt Larkin Jazz Society
    and Deborah Dunlap in particular. Over the next few years the site was single-handedly managed by
    both Andrew and saxophonist Kelly Dean. When Andrew moved to NYC in 1997 and until his return in 2004,
    Kelly took over editorial operations. During this time, Kelly did an amazing job promoting the site,
    turning it into the popular musician's destination it has become.
    <div class="hspacer"></div>
    Meanwhile, as jazzhouston.com grew in popularity, so did the demand for content updates. It became
    clear that there needed to be a better way to get information online easily. Behind-the-scenes web
    dashboards were created and shared with volunteers. The site has over 40 content contributors now,
    most of whom are working jazz musicians. It has become a true community project.
    <div class="hspacer"></div>
    In Sept 2009, management of the site changed to an editorial committee. This team consists of
    Pin Lim, Tianna Hall, and Henry Darragh. Pin also runs the twitter feeds and the popular Facebook page.
    Andrew continues to help with all technical issues. To reach the editorial team, use the Submit link
    on the site or send an email to notification @ jazzhouston.com

    <div class="hspacer"></div>
    The site runs on LAMR: Linux, Apache, MySQL, and Ruby on Rails. It was previously a Java-based site
    and before that it was Perl and C-based. The software was written from scratch by the chief nerd, the
    source for which is available on <a href="https://github.com/alienintheheights/jazzhouston">GitHub</a>.
    <div class="hspacer"></div>
    <div class="hspacer"></div>
    <h2>Andrew Lienhard</h2>
    <img src="/images/people/andrew.jpg">Chief Nerd: Site Creator/Developer/Occasional Writer.
    <h2>Tianna Hall</h2>
    <img src="/images/people/tianna.jpg">Chief People Person: The person you'll likely deal with when complaining about this place.
    Tianna also writes articles and publishes shows. Also, one heck of a singer.

    <h2>Pin Lim</h2>
    <img src="/images/people/pin.jpg">Social Media Guru: The man behind our Facebook and Twitter worlds. Also one hell of
    a photographer.

    <h2>Henry Darragh</h2>
    <img src="/images/people/henry.jpg">Associate People Person: Assisting in the human relations of the site and helps with the
    calendar. Also, one heck of a singer and a pianist.

    <h2>Kelly Dean</h2>
    <img src="/images/people/kelly.jpg">Editor-in-Chief Emeritus: our former editor who continues to sway the music scene with
    his words and playing.


  </div>
</div>
