<div id="StageNarrow">
    <div class="inside">
      ><a href="/">Home</a>>Editor Home Page


        <div class="hspacer"></div>

        <div class="Header">
            Jazzhouston Editor Home
        </div>
        <div class="hspacer"></div>
        Hello, so many things have changed. Okay, EVERYTHING has changed. From the perspective on content editing,
        <b>all of it will be done from the actual content index and item pages.</b> If you would like to create a new
        article, go to the Articles home page <b>while logged in</b>. If you want to set a feature or edit an item,
        go to that item's page -- Event detail, Article page, Venue about page, etc.

         <div class="hspacer"></div>
        Thanks for your continued help keeping this site current -- Andrew

    </div>
</div>