<div id="StageNarrow">
    <div class="home-inside">
        > <a href="/home">Home</a> > Error Page
        <div class="hspacer"></div>
        <div class="Header">Heads Up!</div>
        <div class="hspacer"></div>
        <div class="flash-alert">
            <% if @error500 %>
                Sorry, something went goofy with that last link. Either try again, or visit a different part of the site.
                Thanks!
            <% elsif @error404 %>
                Please update your bookmarks or report this link as stale. Use the navigation links above to find
                what you were looking for. Thanks!
            <% else %>
                We're unable to process that request. Sorry, please click on the links above to find a healthier
                page on the site. Thanks!
            <% end %>
        </div>

        <!--  #{@exception}  -->
    </div>
</div>
