<div id="StageNarrow">
    <div class="inside">

    ><a href="/home">Home</a>>FAQ
    <div class="hspacer"></div>

    <div class="HeaderTitle">Frequently Asked Questions (FAQ)</div>
    <div class="hspacer"></div>

    <b>Content Questions</b>
    <ul>
        <li><a href="#c1">How do I get a press release on Jazzhouston?</a></li>
        <li><a href="#c2">How do I get a show listed on the calendar?</a></li>
        <li><a href="#c3">How do I report a mistake in your content?</a></li>
        <li><a href="#c4">How do I get my new CD listed on your Local CD's page?</a></li>
        <li><a href="#c6">How do I add a new venue to the venues page?</a></li>
    </ul>
    <div class="hspacer"></div>

    <b>Technical Questions</b>
    <ul>
        <li><a href="#t1">Why do I still see a login box after I login?</a></li>
        <li><a href="#t2">Does jazzhouston.com uses cookies? Why?</a></li>
        <li><a href="#t3">What technologies are used on this site?</a></li>
    </ul>
    <div class="hspacer"></div>


    <b>Member Questions</b>
    <ul>
        <li><a href="#m1">What do I do if I forget my login info?</a></li>
        <li><a href="#m1">I have multiple accounts listed. Can I get one or more removed?</a></li>
    </ul>
    <div class="hspacer"></div>


    <b>Forum Questions</b>
    <ul>
        <li><a href="#f1">How do I report an offensive post or member?</a></li>
        <li><a href="#f2">Does jazzhouston.com have a posting policy?</a> </li>
    </ul>
    <div class="hspacer"></div>


    <div class="HeaderTitle">FAQ Answers</div>
     <div class="hspacer"></div>

    <b>Content Questions</b>
    <div class="hspacer"></div>

    <a name="c1">How do I get a press release on Jazzhouston?</a>
    <div class="hspacer"></div>
    Use our  <a href="/site/feedback">feedback</a> form

    <div class="hspacer"></div>

    <a name="c2">How do I get a show listed on the calendar?</a>
    <div class="hspacer"></div>
    Use our  <a href="/site/feedback">feedback</a> form
    <div class="hspacer"></div>

    <a name="c3">How do I report a mistake in your content?</a>
    <div class="hspacer"></div>
    Use our <a href="/site/feedback">feedback</a> form
    <div class="hspacer"></div>

    <a name="c4">How do I get my new CD listed on your Local CD's page?</a>
    <div class="hspacer"></div>
    Use our <a href="/site/feedback">feedback</a> form
    <div class="hspacer"></div>


    <a name="c6">How do I add a new venue to the venues page?</a>
   <div class="hspacer"></div>
   Use our <a href="/site/feedback">feedback</a> form
    <div class="hspacer"></div>

    <div class="hspacer"></div>

   <b>Technical Questions</b>
    <div class="hspacer"></div>


   <a name="t1">Why do I still see a login box after I login?</a>
   <div class="hspacer"></div>
    This usually means you don't have cookies enabled.
       See the cookies section below for more info.
   <div class="hspacer"></div>

   <a name="t2">Does jazzhouston.com uses cookies? Why?</a>
    <div class="hspacer"></div>
    Jazzhouston.com uses session cookies, those that exist
       only while the browser is open, to manage the logging in and out process. The
       site also sets one permanent cookie with your username. This is why members
       see their username pre-filled in the login box.
    <div class="hspacer"></div>

   <a name="t3">What technologies are used on this site?</a>
   <div class="hspacer"></div>
    <img src="http://rubyonrails.org/images/rails.png" alt="Ruby" align="left">The new site (Jan 2009)
       now runs on <a href="http://rubyonrails.org/">Ruby on Rails</a>. The JS framework is jQuery and ExtJS. The
       DB is MySQL v5.
      <br/><br/>
      As it has been since 1995, every line of code running this joint, its design, and much of it content was written by the site's creator
       <a href="http://www.andrewlienhard.com">Andrew Lienhard</a>.

   <div class="hspacer"></div>
   <div class="hspacer"></div>



   <b>Member Questions</b>
    <div class="hspacer"></div>

   <a name="m1">What do I do if I forget my login info?</a>
   <div class="hspacer"></div>
    Use our <a href="/members/sendlostpasswordemail">Forgot password form</a>.
       If you registered with a fake email address, you will not be able to regain this information.
    <div class="hspacer"></div>

   <a name="m2">I have multiple accounts listed. Can I get one or more removed?</a>
   <div class="hspacer"></div>
        Use our <a href="/site/feedback">feedback</a> form
    <div class="hspacer"></div>


   <b>Forum Questions</b>
    <div class="hspacer"></div>

   <a name="f1">How do I report an offensive post or member?</a>
   <div class="hspacer"></div>
    Use our <a href="/site/feedback">feedback</a> form
    <div class="hspacer"></div>

   <a name="f2">Does jazzhouston.com have a posting policy?</a>
   <div class="hspacer"></div>
    Why, yes! <a href="/site/policy">Posting Policy</a>
       <div class="hspacer"></div>




  </div>
</div>