<div id="StageNarrow">
    <div class="inside">
          ><a href="/">Home</a>> The Houston Jazz Institute


        <div class="hspacer"></div>

        <div class="Header">
	The Houston Jazz Institute
        </div>

        <div class="hspacer"></div>
<img src="http://im1.shutterfly.com/procgtaserv/47b8ce01b3127cce98548a7bc99100000045100IYsmrNm1Zsr" align="left" width="200" hspace="2">
<b>&nbsp;THE JAZZ INSTITUTE OF HOUSTON</b><br><br>The Jazz Institute of Houston (JIH) is a community arts organization founded in 2002 by Michele R. White, a jazz vocalist and life long student of music.&nbsp; The Institute’s mission is to promote and preserve the art-form of jazz through education and performance opportunities.&nbsp; <br><br>During its seven year history, JIH has partnered with many organizations including Cezanne’s, The High School for the Performing and Visual Arts (HSPVA), Houston Community College, Northwest, Legends Jazz Café, St. Johns Downtown, Texas Southern University, The University of Houston Central Campus and The University of Houston-Downtown to present its educational and performance programs.&nbsp; Some highlights include:<br><br><b>Program Highlights</b><br><u>Marsalis Jams</u>- The Jazz Institute of Houston was the lead organization in partnership with HSPVA, Texas Southern University and the University of Houston in bringing the Marsalis Jams program to Houston. The Marsalis Jams program was founded by Branford Marsalis and Harry Connick Jr. to bring leading established jazz ensembles to high school and college campuses for interactive mini-residencies.Through the Jams Program, Grammy Award Winner Jazz Saxophonist David Sanchez and his band spent two weeks in residence in Houston facilitating master-classes and performing with students at the above listed institutions.<br><br><u>Community Jazz Choir</u>- under the Director of Bert Cross, JIH formed a Community Jazz Choir in partnership with the University of Houston-Downtown.<br><br><u>Vocal/Instrumental Workshops Presented by</u>:<br>Kellye Gray<br>Mickey Moseley<br>Marvin Sparks<br>Suzi Stern<br>Jane Vandiver<br>James Williams<br>Sebastian Whitaker<br>Deanna Witkoski<br>Horace Alexander Young <br><br><b>Advisory Board Members:</b><br>Nada Christiansen (vocals)<br>Dr. William Clay (psychologist)<br>Basirah Dean (piano)<br>Barrie Lee Hall, Jr.&nbsp; (trumpet, bandleader, arranger)<br>Andrew Lienhard (piano, composer)<br>Michele R. White- Executive Director<br>James William (trumpet)- Associate Director<br>Horace Alexander Young (saxophones, flutes, vocals, educator) - Artistic Director
        <div class="hspacer"></div>
<b>Contact Information:</b> <br/><br/>
Michele White<br/>
713-409-3376<br/>
thejazzinstitute@aol.com<br/>
<a href="http://thejazzinstituteofhouston.shutterfly.com/">Photo Website</a>
    </div>
</div>
