<playlist>

	<item>
				<title>How About You?</title>
				<artist>Larry Slezak</artist>
				<link>http://www.larryslezak.com/buy.htm</link>
                		<image>http://www.larryslezak.com/LarrySlezakCD.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/howaboutyou.mp3</filename>
	</item>
	<item>
				<title>Brothers</title>
				<artist>Warren Sneed (with Dennis Dotson)</artist>
				<link>http://cdbaby.com/cd/sneed</link>
                <image>http://cdbaby.name/s/n/sneed.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/brothers.mp3</filename>
	</item>
   <item>
				<title>Jitterbug Waltz</title>
				<artist>Joe Sample</artist>
				<link>http://www.amazon.com/Soul-Shadows-Joe-Sample/dp/B00030F9KS</link>
                <image>http://ecx.images-amazon.com/images/I/61GRG13PTSL._SL500_AA240_.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/jitterbugwaltz.mp3</filename>
		</item>
	<item>
				<title>Rumors</title>
				<artist>Christian Scott (with Walter Smith & Jamire Williams)</artist>
				<link>http://www.amazon.com/Live-at-Newport-Jazz-Festival/dp/B001G54716</link>
                <image>http://ecx.images-amazon.com/images/I/416vlvE7jSL._SL500_AA240_.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/rumors.mp3</filename>
		</item>
             <item>
				<title>Desert Flower</title>
				<artist>Mark Towns (with Hubert Laws)</artist>
				<link>http://www.marktowns.com/merchandise.html</link>
                <image>http://www.marktowns.com/sitebuilder/images/passion_cover-149x150.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/desertflower.mp3</filename>
		</item>
 		<item>
				<title>Ringo Starr</title>
				<artist>David Craig</artist>
				<link>http://cdbaby.com</link>
                <image>http://woodywitt.com/images/CDDavidCraig.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/ringostarr.mp3</filename>
		</item>
		<item>

				<title>I Love You</title>
				<artist>Sebastian Whittaker (with Jacky Terrasson)</artist>
				<link>http://www.upfrontmanaging.com/disc.html</link>
                <image>http://www.upfrontmanaging.com/bu.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/iloveyou.mp3</filename>
		</item>     
          	<item>
				<title>While We Were Young</title>
				<artist>Bob Henschen Trio</artist>
				<link>http://www.jazzhouston.com/members/profile/bhenschen</link>
                <image>http://www.divasworld.org/default/affiliates/web_BH_001.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/whilewewereyoung.mp3</filename>
		</item>
        



</playlist>
