<playlist>
        <item>    <!-- http://www.musicweb-international.com/jazz/2004/Apr04/passioncoverweb.jpg -->
				<title>Selva Urbana</title>
				<artist>Mark Towns</artist>
				<link>http://www.marktowns.com</link>
                <image>http://marktowns.com/sitebuilder/images/flamenco_cover-149x150.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/selva-urbana.mp3</filename>
		</item>
        <item>
				<title>In the Wee Small Hours of the Morning</title>
				<artist>Tianna Hall</artist>
				<link>http://www.tiannahall.com</link>
                <image>http://cdbaby.name/t/i/tiannahalltmcjt.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/intheweesmallhours.mp3</filename>
		</item>
        <item>
				<title>Like Someone in Love</title>
				<artist>Pamela York</artist>
				<link>http://www.pamelayork.com</link>
				<image>http://cdbaby.name/p/a/pamelayork2.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/likesomeoneinlove-york.mp3</filename>
		</item>
		<item>
				<title>Lover Come Back to Me</title>
				<artist>Diane Landry (with John Ellis)</artist>
				<link>http://www.dianelandry.com</link>
				<image>http://cdbaby.name/d/i/dianelandry.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/lovercomebacktome.mp3</filename>
		</item>
		<item>
				<title>Wouldn't It Be Loverly</title>
				<artist>Warren Sneed and Joe Locascio</artist>
				<link>http://www.warrensneed.com</link>
				<image>http://warrensneed.com/images/warrenandjoe.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/loverly.mp3</filename>
		</item>
		<item>
				<title>Oddly Even</title>
				<artist>Woody Witt</artist>
				<link>http://www.woodywitt.com</link>
				<image>http://bluebamboomusic.com/ww.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/oddlyeven.mp3</filename>
		</item>
		<item>
				<title>Turnabout</title>
				<artist>Joe Locascio</artist>
				<link>http://www.joelocascio.com</link>
				<image>http://www.jazzhouston.com/images/cds/joes10thcd.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/turnabout.mp3</filename>
		</item>
		<item>
				<title>Higher Learning</title>
				<artist>Paul Peacock</artist>
				<link>http://www.paulpeacock.com/</link>
				<image>http://www.jazzhouston.com/images/peacock.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/higherlearning.mp3</filename>
		</item>
		<item>
				<title>snew</title>
				<artist>Mike Wheeler</artist>
				<link>http://bluebamboomusic.com/bamboo19.html</link>
				<image>http://bluebamboomusic.com/wheeler.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/snew.mp3</filename>
		</item>
        	<item>
				<title>Heart First</title>
				<artist>Gary Norian</artist>
				<link>http://cdbaby.com/cd/garynorian</link>
				<image>http://cdbaby.name/g/a/garynorian.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/heartfirst.mp3</filename>
		</item>
		<item>
				<title>Take the Coltrane</title>
				<artist>The Drew Dentremont Quartet featuring Joe Santa Maria</artist>
				<link>http://www.myspace.com/santamariasantamaria</link>
				<image>http://www.jazzhouston.com/images/artists/santamaria.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/takethecoltrane.mp3</filename>
		</item>

</playlist>
