<playlist>
        <item>
				<title>Another Way</title>
				<artist>Mike Moreno</artist>
				<link>http://www.amazon.com/gp/product/B00158K18W/ref=s9sims_c2_img1?pf_rd_m=ATVPDKIKX0DER&pf_rd_s=center-2&pf_rd_r=115S7X6P5EZRGMAMWMCT&pf_rd_t=101&pf_rd_p=320448701&pf_rd_i=507846</link>
                <image>http://ecx.images-amazon.com/images/I/51mQp1OJ2rL._SL500_AA240_.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/anotherway.mp3</filename>
		</item>
        <item>
				<title>Wouldn't It Be Loverly?</title>
				<artist>Dave Catney</artist>
				<link>http://www.rhapsody.com/dave-catney/reality-road</link>
                <image>http://www.jazzhouston.com/images/artists/catneyrr.gif</image>
				<filename>http://www.jazzhouston.com/mp3s/catney-loverly.mp3</filename>
		</item>
        <item>
				<title>Shelby</title>
				<artist>Drop Trio</artist>
				<link>http://cdbaby.com/cd/droptrio3</link>
                <image>http://cdbaby.name/d/r/droptrio3.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/shelby.mp3</filename>
		</item>
        <item>
				<title>Willows</title>
				<artist>Woody Witt</artist>
				<link>http://www.apriarecords.com/witt.html</link>
                <image>http://www.apriarecords.com/images/witt_willow.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/willows.mp3</filename>
		</item>
         <item>
				<title>Hypnotize Me</title>
				<artist>Mike Wheeler, Paul Chester, and Mike Sunjka</artist>
				<link>http://cdbaby.com/cd/scwjazz</link>
                <image>http://cdbaby.name/s/c/scwjazz.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/hypnotizeme.mp3</filename>
		</item>
        <item>
				<title>Distant Harmony</title>
				<artist>Larry Slezak with Dennis Dotson and Jose-Miguel Yamal</artist>
				<link>http://www.larryslezak.com/buy.htm</link>
                <image>http://www.larryslezak.com/LarrySlezakCD.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/distantharmony.mp3</filename>
		</item>
        <item>
                <title>So High</title>
                <artist>Pamela Stonebrooke with Bob Shepard</artist>
                <link>http://www.jazzhouston.com</link>
                <image>http://cdbaby.name/s/t/stonebrooke.jpg</image>
                <filename>http://www.jazzhouston.com/mp3s/sohigh.mp3</filename>
        </item>




</playlist>
