<playlist>
	<item>
				<title> The Gauntlet</title>
				<artist>Paul Tynan & Aaron Lington</artist>
				<link>http://www.oa2records.com/oa2/recordings/recording.php?TitleID=22051</link>
                <image>http://www.oa2records.com/oa2/recordings/coverimages/22051.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/thegauntlet.mp3</filename>
	</item>
   <item>
				<title> That's My Girl</title>
				<artist>Joe Locascio & Woody Witt</artist>
				<link>http://www.cduniverse.com/productinfo.asp?PID=7867185&style=music&frm=lk_jkelman</link>
                <image>http://cover6.cduniverse.com/MuzeAudioArt/Large/98/1066898.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/thatsmygirl.mp3</filename>
		</item>
	<item>
				<title> Wildflower</title>
				<artist>Bob Chadwick & Robert Boston</artist>
				<link>http://www.bobchadwickflutes.com/live/</link>
                <image>http://stuff.bobchadwickflutes.com/gallery/s1/media/bansuri_cap120.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/wildflower.mp3</filename>
		</item>
             <item>
				<title>Between The Lines</title>
				<artist>Mike Moreno</artist>
				<link>http://cdbaby.com/cd/mikemoreno</link>
                <image>http://cdbaby.name/m/i/mikemoreno.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/betweenthelines.mp3</filename>
		</item>
 		<item>
				<title>Delta Autumn</title>
				<artist>Tim Solook</artist>
				<link>http://cdbaby.com/cd/solook</link>
                <image>http://cdbaby.name/s/o/solook.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/deltaautumn.mp3</filename>
		</item>
		<item>

				<title>What Are You Doing The Rest Of Your Life?</title>
				<artist>Mike Wheeler</artist>
				<link>http://www.bluebamboomusic.com/bamboo19.html</link>
                <image>http://www.bluebamboomusic.com/wheeler.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/therestofyourlife.mp3</filename>
		</item>     
          	<item>
				<title>Pachanga</title>
				<artist>The Mark Dini Group</artist>
				<link>http://markdinigroup.com/base.html1</link>
                <image>http://markdinigroup.com/imagine_that.jpg</image>
				<filename>http://www.jazzhouston.com/mp3s/pachanga.mp3</filename>
		</item>
        



</playlist>
