<div id="StageNarrow">
    <div class="cd-inside">
          ><a href="/">Home</a>>Privacy Policy


        <div class="hspacer"></div>

        <div class="Header">
            Privacy Policy
        </div>
        <div class="hspacer"></div>
        We will not sell your information to others. We will not spam you. We will not attach viruses to your computer.
        We are not responsible for anything that happens to you while using this web site. We will not eat you either.

    </div>
</div>