<%= render 'common/top-of-page' %>
<title>JazzHouston | <%= @page_title %></title>
</head>
<body>
<!-- Stage for home page -->
<div class="panel">
    <div class="HeaderTitle">JazzHouston Local Release Sampler</div>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="100%" height="200" ><param name="movie" value="http://8tracks.com/mixes/27116/player_v2"><param name="allowscriptaccess" value="always"><param name="FlashVars" value="bg_color=_000000"><embed FlashVars="bg_color=_000000" src="http://8tracks.com/mixes/27116/player_v2" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="100%" height="200" allowscriptaccess="always" ></embed></object>
    <div class="hspacer"></div>
    
    <div id="panel-inside">
        Enjoy full-length tracks from select local CD releases. This playlist will
        generate from a larger pool of music, so check back often for more music! Click the
        info button for the artist's website.   
    </div>

</div>

</body>
</html>
