
<div id="StageNarrow">
    <div class="inside">

        <div class="hspacer"></div>


        <div class="ForumHeaderTitle">
              <a class="HeaderLink" href="#" onclick="return jh.util.popup('/site/radio_popup', 550, 450)">Launch Radio</a>
        </div>

        <div class="Title">
            Playlist for April 13th, 2009
        </div>
 	 <table class="phone-list" width="100%">
               <tr>
                   <th width="50%" class="tableHeader">Title</th>
                    <th width="50%" class="tableHeader">Artist</th>
                </tr>

                    <tr class="noalt">
                        <td width="50%" >
                           "How About You?"
                        </td>
                        <td width="50%">
                          Larry Slezak
                        </td>
                    </tr>

                    <tr class="alt">
                        <td width="50%" >
                           "Brothers"
                        </td>
                        <td width="50%">
                          Warren Sneed (with Dennis Dotson)
                        </td>
                    </tr>

                    <tr class="noalt">
                        <td width="50%" >
                            "Jitterbug Waltz"
                        </td>
                        <td width="50%">
                             Joe Sample
                        </td>
                    </tr>

                    <tr class="alt">
                        <td width="50%" >
                            "Rumors"
                        </td>
                        <td width="50%">
                          Christian Scott (with Walter Smith & Jamire Williams)
                        </td>
                    </tr>

                    <tr class="noalt">
                        <td width="50%" >
                            "Desert Flower"
                        </td>
                        <td width="50%">
                           Mark Towns (with Hubert Laws)
                        </td>
                    </tr>

                    <tr class="alt">
                        <td width="50%" >
                          Ringo Starr
                        </td>
                        <td width="50%">
                         David Craig 
                        </td>
                    </tr>


                    <tr class="noalt">
                        <td width="50%" >
                            "I Love You"
                        </td>
                        <td width="50%">
                           Sebastian Whittaker (with Jacky Terrasson)
                        </td>
                    </tr>

                    <tr class="alt">
                        <td width="50%" >
                           "When We Were Young"
                        </td>
                        <td width="50%">
			 Bob Henschen
                        </td>
                    </tr>


        </table>
        <div class="Title">
            Playlist for March 21st, 2009
        </div>
 	 <table class="phone-list" width="100%">
               <tr>
                   <th width="50%" class="tableHeader">Title</th>
                    <th width="50%" class="tableHeader">Artist</th>
                </tr>

                    <tr class="alt">
                        <td width="50%" >
                           "The Gauntlet"
                        </td>
                        <td width="50%">
                          Paul Tynan & Aaron Lington (from  "Bicoastal Collective: Chapter One", 2009)
                        </td>
                    </tr>

                    <tr class="noalt">
                        <td width="50%" >
                            "That's My Girl"
                        </td>
                        <td width="50%">
                             Joe Locascio & Woody Witt (from "Seasons Ago", Heart Music, 2009)
                        </td>
                    </tr>

                    <tr class="alt">
                        <td width="50%" >
                            "Wildflower"
                        </td>
                        <td width="50%">
                           Bob Chadwick & Robert Boston (from "Some Other Time", 2007)
                        </td>
                    </tr>

                    <tr class="noalt">
                        <td width="50%" >
                            "Between The Lines"
                        </td>
                        <td width="50%">
                           Mike Moreno (from "Bewteen the Lines", World Culture Music, 2007)
                        </td>
                    </tr>

                    <tr class="alt">
                        <td width="50%" >
                           "What Are You Doing For The Rest Of Your Life?"
                        </td>
                        <td width="50%">
                          Mike Wheeler (from "Mikey's Waltz", Blue Bamboo Music, 2008)
                        </td>
                    </tr>


                    <tr class="noalt">
                        <td width="50%" >
                            "Delta Autumn"
                        </td>
                        <td width="50%">
                           Tim Solook (from "Ability", Sol Time Records, 2006)
                        </td>
                    </tr>

                    <tr class="alt">
                        <td width="50%" >
                           "Pachanga"
                        </td>
                        <td width="50%">
                         Mark Dini (from "Imagine That", 2005)
                        </td>
                    </tr>


        </table>

        <div class="Title">
            Playlist for Febuary 6th, 2009
        </div>
         <table class="phone-list" width="100%">
               <tr>
                   <th width="50%" class="tableHeader">Title</th>
                    <th width="50%" class="tableHeader">Artist</th>
                </tr>


                    <tr class="noalt">
                        <td width="50%" >
                            "Another Way"
                        </td>
                        <td width="50%">
                           Mike Moreno (from "Third Wish", Criss Cross records, 2008)
                        </td>
                    </tr>

                    <tr class="alt">
                        <td width="50%" >
                           "Wouldn't It Be Loverly?"
                        </td>
                        <td width="50%">
                          Dave Catney (from "Reality Road", 1994)
                        </td>
                    </tr>

                    <tr class="noalt">
                        <td width="50%" >
                            "Shelby"
                        </td>
                        <td width="50%">
                             Drop Trio (from "Live at Cezanne", 2005)
                        </td>
                    </tr>


                    <tr class="alt">
                        <td width="50%" >
                            "Hypnotize Me"
                        </td>
                        <td width="50%">
                           Mike Wheeler, Paul Chester & Mike Sunjka (from Collage, 2001, out of print)
                        </td>
                    </tr>


                    <tr class="noalt">
                        <td width="50%" >
                            "Willows"
                        </td>
                        <td width="50%">
                           Woody Witt with Billy Hart and Tim Armacost (Apria Records, 2008)
                        </td>
                    </tr>


                    <tr class="alt">
                        <td width="50%" >
                           "Distant Harmony"
                        </td>
                        <td width="50%">
                          Larry Slezak with Dennis Dotson and Jose-Miguel Yamal (from "No Worries", 2008)
                        </td>
                    </tr>

                    <tr class="noalt">
                        <td width="50%" >
                           "So High"
                        </td>
                        <td width="50%">
                          Pamela Stonebrooke with Bob Sheppard (unreleased track from upcoming album)
                        </td>
                    </tr>


        </table>
        <div class="Title">
            Playlist for January 11th, 2009
        </div>
         <table class="phone-list" width="100%">
               <tr>
                   <th width="50%" class="tableHeader">Title</th>
                    <th width="50%" class="tableHeader">Artist</th>
                </tr>

                    <tr class="noalt">
                        <td width="50%" >
                             "Selva Urbana"
                        </td>
                        <td width="50%">
                           Mark Towns
                        </td>
                    </tr>

                    <tr >
                        <td width="50%" >
                          "In the Wee Small Hours of the Morning"
                        </td>
                        <td width="50%">
                           Tianna Hall
                        </td>
                    </tr>
                    <tr class="noalt">
                        <td width="50%" >
                           "Like Someone in Love"
                        </td>
                        <td width="50%">
                          Pamela York
                        </td>
                    </tr>
                      <tr >
                        <td width="50%" >
                          "Lover Come Back to Me"
                        </td>
                        <td width="50%">
                          Diane Landry (with John Ellis)
                        </td>
                    </tr>
                     <tr class="noalt">
                        <td width="50%" >
                           "Wouldn't It Be Loverly"
                        </td>
                        <td width="50%">
                         Warren Sneed and Joe Locascio
                        </td>
                    </tr>
                     <tr >
                        <td width="50%" >
                          "Oddly Even"
                        </td>
                        <td width="50%">
                         Woody Witt
                        </td>
                    </tr>
                    <tr class="noalt">
                        <td width="50%" >
                          "Turnabout"
                        </td>
                        <td width="50%">
                         Joe Locascio
                        </td>
                    </tr>
                    <tr >
                        <td width="50%" >
                          "Higher Learning"
                        </td>
                        <td width="50%">
                        Paul Peacock and Mike Owen
                        </td>
                    </tr>
                     <tr class="noalt">
                        <td width="50%" >
                          "snew"
                        </td>
                        <td width="50%">
                        Mike Wheeler (with Pamela York)
                        </td>
                    </tr>

                    <tr >
                        <td width="50%" >
                          "Heart First"
                        </td>
                        <td width="50%">
                        Gary Norian
                        </td>
                    </tr>
                     <tr class="noalt">
                        <td width="50%" >
                           "Take the Coltrane"
                        </td>
                        <td width="50%">
                       The Drew Dentremont Quartet featuring Joe Santa Maria
                        </td>
                    </tr>

        </table>
        <div class="hspacer"></div>

      <div class="ForumHeaderTitle">
              <a class="HeaderLink" href="#" onclick="return jh.util.popup('/site/radio_popup', 550, 450)">Launch Radio</a>
        </div>

    </div>
</div>
