
<div id="StageNarrow">
  <ul class="breadcrumbs">
    <li>
      <a href="/releases">Houston Jazz CD's</a>
    </li>
    <li>
     Browse All
    </li>
  </ul>
  <div class="home-inside">
    <div id="SearchBar">
      <div class="ItemHSpacer">
        <%= render :partial => "genre"%>
      </div>
    </div>


  <div class="home-inside">



    <table class="index-three-column">
      <% counter=0
         for item in albums_all %>
          <% if counter%3==0 %><tr><% end %>
          <td>
            <% if item.image_url != ""  %>
                <%= link_to image_tag(item.image_url,:width=>'150',:hspace=>'2'), {:action => "about", :controller=>"releases", :id=>item.album_id} %><br/>
            <% end %>
            <%= item.artist_name %><br/>
            <%= link_to item.title, {:action => "about", :controller=>"releases", :id=>item.album_id} %>

          </td>
          <% counter=counter+1
             if counter%3==0 %>
              </tr>
          <% end %>
      <% end %>
    </table>

    <div class="hspacer"></div>


  </div>
</div>
