<div id="jh_about" >
  Houston's rich jazz history has produced an impressive roster of world-renowned musicians. It's soulful heritage
  has produced a powerful, identifiable sound. Here are a few of artists who hail from this Third Coast mecca:
  Joe Sample, The Crusaders, Hubert Laws,
  Ronnie Laws, Kirk Whalum, Everette Harp, Jason Moran, Robert Glasper, Eric Harland, Mike Moreno, Chris Dave, Helen Sung,
  Kendrick Scott, Shelly Berg, G.T. Hogan, Don Wilkerson, Arnett Cobb, Jimmy Ford, Herman Matthews, Conrad Johnson,
  Barrie Lee Hall, Jr. (longtime Duke Ellington member), Frank Lacy, Mark Kelley, Alan Hampton, Tex Allen,
  and Eddie "Cleanhead" Vinson.
   <div class="hspacer"></div>
  Resident luminaries include (but are not limited to) Joe Sample, Bobby Lyle, Mark Simmons,
  Andre Hayward (Monk Competition winner), Chris Walker, Marsha Frazier, Paul English, David Caceres,
  Sebastian Whittaker, Larry Slezak, Kyle Turner, Dennis Dotson, Joe Locascio, Craig Green, Horace Alexander Young,
  Woody Witt, Dr. Robert "Doc" Morgan, and Pamela York (Great American Piano Competition winner). There are, of course,
  many, many other great players here too.
   <div class="hspacer"></div>
</div>