<div id="jh_about" >
  Houston's rich jazz history has produced an impressive roster of world-renowned musicians. Here are a few of the artists who
  hail from this Third Coast mecca:
  Joe Sample, The Crusaders, Hubert Laws,
  Ronnie Laws, Everette Harp, Jason Moran, Robert Glasper, Eric Harland, Mike Moreno, Chris Dave, Helen Sung,
  Kendrick Scott, Shelly Berg, G.T. Hogan, Don Wilkerson, Arnett Cobb, Jimmy Ford, Herman Matthews, Conrad Johnson,
  Barrie Lee Hall, Jr. (longtime Duke Ellington member), Frank Lacy, Mark Kelley, Alan Hampton, Tex Allen,
  and Eddie "Cleanhead" Vinson.
   <div class="hspacer"></div>
</div>