

<div id="CurtainRight">
  <%if logged_in? && current_user.editor_flag==1 -%>
      <div class="EditorTools">
        <h2>Editor Tools</h2>
        <a href="/events/new"><img src="/images/icons/reply.png" border="0" alt="edit">Add a Show</a>
        <br/><a href="/venues/new"><img src="/images/icons/reply.png" border="0" alt="edit">Add a Venue</a>
        <br/><a href="/articles/new"><img src="/images/icons/reply.png" border="0" alt="edit">Add a Story</a>
        <br/><a href="/articles/workflow"><img src="/images/icons/reply.png" border="0" alt="edit">Story Workflow</a>
        <br/><a href="/releases/new"><img src="/images/icons/reply.png" border="0" alt="edit">Add a CD</a>
      </div>
      <div class="hspacer"></div>
  <% end -%>
  <b>Follow Us</b>    <br/>
  <a href="http://www.facebook.com/pages/JazzHouston/193080346744"><img width="40" align="bottom" src="/images/icon_hopout_facebook.png" border="0"></a>
  <br/>
  <a href="http://twitter.com/#!/jazzhouston"><img width="40" align="top" src="/images/icon_hopout_twitter.png" border="0"></a>
  <br/>
  <a href="http://jazzhouston.com/events/rss"><img width="40" align="top" src="/images/icon_hopout_rss.png" border="0"></a>
  <br/><br/>

  <div id="AdRight">

    <!-- Google Ad -->
    <script type="text/javascript"><!--
    google_ad_client = "pub-1710667641333982";
    /* 120x600, created 6/1/09 */
    google_ad_slot = "2420785327";
    google_ad_width = 120;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>


</div>
</div> <!-- end Wrapper -->

<div id="footer">

  <div class="blockwrapper">


    <div class="block">
      <h2>Contact</h2>
      We're run by volunteers, still we'll do our best to help out if you have a problem!
      <ul>
        <li><a href="/site/feedback">Feedback</a></li>
        <li><a href="/site/contact">Contact us</a></li>
      </ul>
    </div>


    <div class="block">
      <h2>About</h2>
      Background on this site
      <ul>
        <li><a href="/site/faq">FAQ</a></li>
        <li><a href="/site/about">Who we are</a></li>

      </ul>
    </div>

    <div class="block">
      <h2>RSS</h2>
      Our RSS feeds
      <ul>
        <li><a href="/articles/rss">News RSS</a></li>
        <li><a href="/events/rss">Shows RSS</a></li>
        <li><a href="http://twitter.com/statuses/user_timeline/22402063.rss">Twitter Feed</a></li>
      </ul>
    </div>


    <div class="block">
      <h2>Legal</h2>
      Jazzhouston legalese
      <ul>
        <li><a href="/site/legal">Website terms</a></li>
        <li><a href="/site/privacy">Privacy policy</a></li>
      </ul>
    </div>

    <div class="block">
      <h2>Social</h2>
      <ul>
        <li>
          <a href="http://www.facebook.com/pages/JazzHouston/193080346744"><img width="50" src="/images/fblogo.png" border="0"></a>
          &nbsp;
          <a href="http://twitter.com/#!/jazzhouston"><img width="47" src="/images/twitterlogo.gif" border="0"></a></li>
      </ul>
    </div>



  </div>



  <div id="copyright">
    Copyright &copy; 1995-2012 JazzHouston.com - All rights reserved
  </div>

</div>
</div> <!-- end wrapper -->




<!-- Google Tracker -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-997481-1");
    pageTracker._trackPageview();
</script>



</body>
</html>
