 <!-- END Dynamic Content Page Here -->
 </div> <!-- end span11 -->

<div class="span1" id="CurtainRight">


  <div id="AdRight">
	<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=jazzhous-20&o=1&p=14&l=bn1&mode=music&browse=34&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="160" height="600" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>

  </div>


</div>
</div> <!-- end row-fluid -->
<div class="row-fluid">
<div id="footer" class="span12">

  <div class="blockwrapper">


    <div class="block">
      <h2>Contact</h2>
      We're run by volunteers, still we'll do our best to help out if you have a problem!
      <ul>
        <li><a href="/site/feedback">Feedback</a></li>
        <li><a href="/site/contact">Contact us</a></li>
      </ul>
    </div>


    <div class="block">
      <h2>About</h2>
      Background on this site
      <ul>
        <li><a href="/site/faq">FAQ</a></li>
        <li><a href="/site/about">Site History</a></li>

      </ul>
    </div>

    <div class="block">
      <h2>RSS</h2>
      Our RSS feeds
      <ul>
        <li><a href="/articles/rss">News RSS</a></li>
        <li><a href="/events/rss">Shows RSS</a></li>
        <li><a href="http://twitter.com/statuses/user_timeline/22402063.rss">Twitter Feed</a></li>
      </ul>
    </div>


    <div class="block">
      <h2>Legal</h2>
      Jazzhouston legalese
      <ul>
        <li><a href="/site/legal">Website terms</a></li>
        <li><a href="/site/privacy">Privacy policy</a></li>
      </ul>
    </div>




  </div>

  </div>

  <div id="copyright">
    Copyright &copy; 1995-2014 JazzHouston.com - All rights reserved
  </div>

</div>
</div> <!-- end wrapper -->
</div>
</div>
</div>




<!-- Google Tracker -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-997481-1");
    pageTracker._trackPageview();
</script>



</body>
</html>
