
</div> <!-- end Wrapper -->

<div id="footer">
  <div id="leftside-links">
    <ul>
      <li><a class='navLink' href="/events">Calendar</a></li>
      <li><a class='navLink' href="/musicians">Players</a></li>
      <li><a class='navLink' href="/releases">Recordings</a></li>
      <li><a class='navLink' href="/articles">News</a></li>
      <li><a class='navLink' href="/forums">Forums</a></li>
      <li><a class='navLink' href="/members/new">Register</a></li>
      <li><a class='navLink' href="/education">Education</a></li>
      <li><a class='navLink' href="/site/feedback">Contact</a></li>
    </ul>
  </div>
  <div class="hspacer"></div>
  <!-- Google Ad -->
  <script type="text/javascript"><!--
  // XHTML should not attempt to parse these strings, declare them CDATA.
  /* <![CDATA[ */
  window.googleAfmcRequest = {
      client: 'ca-mb-pub-1710667641333982',
      format: '320x50_mb',
      output: 'html',
      slotname: '3360419287',
  };
  /* ]]> */
  //--></script>
  <script type="text/javascript"    src="http://pagead2.googlesyndication.com/pagead/show_afmc_ads.js"></script>


</div> <!-- end wrapper -->




<!-- Google Tracker -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-997481-1");
    pageTracker._trackPageview();
</script>



</body>
</html>
