</head>
<body>

<div id="Masthead">
  <div id="MastheadCenter">
    <div id="logoText"><a href="/home">Jazz/Houston</a></div>
    <br/><div id="subLogoText">since 1995</div>
  </div>
  <div id="MastheadRight">
      <div id="MemberBox">
      <% if logged_in? -%>

          <a  href="/members/profile/<%= current_user.username %>">profile</a> |
          <a href="/members/edit/<%= current_user.user_id %>">settings</a>  |
          <a href="/members/logout/">logout</a>


      <% else -%>
          <div id="jh_login_form" class="login">
            <%= form_tag "/members/login" do -%>
                <table>
                  <tr>
                    <td align="left"><input class="textfield" placeholder="Username" type="text" maxlength="26" size="10" id="login" name="login"/></td>
                    <td align="left"><input class="textfield" placeholder="Password" type="password" name="password" id="password" maxlength="26" size="10"/></td>
                    <td align="left"><%= submit_tag 'Go' %></td>
                  </tr>
                  <tr>
                    <td align="left">
                      Remember me<input type="checkbox" name="remember_me" value="1" checked="yes" > </td>
                    <td align="left" colspan="2">
                      <a href="/members/sendlostpasswordemail">Forgot your password?</a>
                    </td>
                  </tr>
                </table>

            <% end -%>
          </div>

      <% end -%>

    </div>

  </div>
  <div id="nav-links">

    <ul>
      <li> <a <% if current_page?(:controller => 'home') %>class='selected'<% end %> href="/home">Home</a></li>
      <li><a <% if current_page?(:controller => 'events') %>class='selected'<% end %> href="/events">Shows</a></li>
      <li><a <% if current_page?(:controller => 'news') || current_page?(:controller => 'articles') %>class='selected'<% end %> href="/news">Articles</a></li>
      <li><a <% if current_page?(:controller => 'forums') %>class='selected'<% end %> href="/forums">Forums</a></li>
      <li><a <% if current_page?(:controller => 'releases') %>class='selected'<% end %> href="/releases">CDs</a></li>
      <li><a <% if current_page?(:controller => 'musicians') %>class='selected'<% end %> href="/musicians">Players</a></li>
      <li><a <% if current_page?(:controller => 'education') %>class='selected'<% end %> href="/education">Schools</a></li>
      <li><a <% if current_page?(:controller => 'members') %>class='selected'<% end %> href="/members">Members</a></li>
      <li><a <% if current_page?(:controller => 'site', :action=>'feedback') %>class='selected'<% end %> href="/site/feedback">Contact</a></li>
    </ul>
  </div>

</div>
<div id="Wrapper">

