
<div id="StageNarrow">
    <div class="cd-inside">

        <div class="hspacer"></div>

		<%= render :partial => "common/notice" %>
        <div class="hspacer"></div>
        Thanks for signing up on Jazzhouston.com!
        <div class="hspacer"></div>
        You should receive a confirmation email shortly. If you don't receive it, please check your spam folders. If you'd like to resend it
	  	please click this <a class="blueLink" href="/members/confirmform">link</a>. If neither work, please contact us at notification@jazzhouston.com and we'll
	    get it squared away for you.


        <div class="hspacer"></div>
	  	See you online!
    </div>
</div>
