
<div id="StageNarrow">
    <div class="cd-inside">
        ><a href="/">Home</a>><a href="/members">Members</a> > New User

        <div class="hspacer"></div>
        <div class="flash-alert">
           Account created! Please check your email to confirm this account.
        </div>
          <div class="hspacer"></div>
        The email will come from notification@jazzhouston.com -- check your spam folder if it
        doesn't appear in a few minutes.
         <div class="hspacer"></div>
        To have the confirmation resent <a class="blueLink" href="/members/confirmform">click here</a>

        <div class="hspacer"></div>
    </div>
</div>
