<div id="StageNarrow">
    <div class="cd-inside">
        <div class="HeaderTitle">
            Forgot your Password?
        </div>

          <div class="flash-alert">
            <%= flash[:notice] %>
        </div>

        <form action="/members/sendlostpasswordemail" method="post">
            <p><label for="login">Username</label><br/>
                <%= text_field_tag 'login' %></p>
            <input type="hidden" name='authenticity_token' value= '<%= form_authenticity_token() %>'/>
                           
            <p><%= submit_tag 'Submit' %></p>
        </form>
        <div class="hspacer"></div>
        Forgot your username? Just use the Member Search feature on the <a href="/members">Members</a> page and look
        for your name. The username appears next to it.


    </div>
</div>


